// body, div, section,  {border:1px solid red; padding:.5em;}

.current {
  color:aquamarine;
}
#main_content_wrap {
  background: white;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
}

#main_content {
  padding-top: 10px;
  background-color: #f2f2f2;
}

.inner { max-width: 1000px;}

nav ul {
padding-left: 0;
margin-left: 0;
background-color: #003366;
color: white;
float: left;
width: 100%;
font-family: arial, helvetica, sans-serif;
}

nav ul li { display: inline; }

nav ul li a {
padding: 0.2em 1em;
background-color: #003366;
color: white;
text-decoration: none;
float: left;
border-right: 1px solid #ffffff;
}
